.search-section__btn {
  height: 38px;
  width: 38px;
  background: #10b981;
  border-style: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.search-section__btn:hover {
  background-color: var(--primary-hover);
}

.search-section__btn:active {
  transition: all 0.1s ease;
  background-color: var(--primary);
}

.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid var(--primary);
  background-color: rgb(255, 255, 255);
  margin-left: 38px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cart-btn__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 14px;
  cursor: pointer;
}

.cart-btn:hover {
  color: #ffffff;
  background-color: var(--primary-hover);
}

.cart-btn:active {
  transition: all 0.1s ease;
  color: #000000;
  background-color: #ffffff;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 247px;
  height: 60px;
  border-radius: 30px;
  background: var(--primary);
  box-shadow: 0px 10px 35px 0px #0000001a;
  border: none;
  margin-left: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: 14px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: var(--primary-hover);
}

.login-btn:active {
  transition: all 0.1s ease;
  color: #ffffff;
  background-color: var(--primary);
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  transition: all 0.3s ease;
}

.menu-link:hover {
  color: #ffffff99;
}

.menu-link:active {
  transition: all 0.1s ease;
  color: #ffffff;
}

.menu-btn:hover {
  background-color: #00000070;
}

.menu-btn:active {
  
}

.main__left__btn {
  height: 70px;
  width: 263px;
  margin-top: 53px;
  border-radius: 10px;
  background-color: var(--primary);
  border: none;
  box-shadow: 0px 25px 50px 0px #845ec226;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main__left__btn-text {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  cursor: inherit;
}

.main__left__btn:hover {
  background-color: var(--primary-hover);
}

.main__left__btn:active {
  transition: all 0.1s ease;
  background-color: var(--primary);
}

.feature-products__right-section__btn-cart {
  height: 70px;
  width: 263px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary);
  box-shadow: 0px 25px 50px 0px #ffffff1a;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feature-products__right-section__btn-cart__text {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  font-family: Montserrat;
  cursor: pointer;
}

.feature-products__right-section__btn-cart:hover {
  background-color: var(--primary-hover);
}

.feature-products__right-section__btn-cart:active {
  transition: all 0.1s ease;
  background-color: var(--primary);
}

.feature-products__right-section__btn-view {
  border: none;
  background-color: #00000000;
  padding: 0px;
  margin-left: 49px;
  cursor: pointer;
}

.feature-products__right-section__btn-view__text {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  font-family: Montserrat;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feature-products__right-section__btn-view__text:hover {
  color: #ffffff99;
}

.feature-products__right-section__btn-view__text:active {
  transition: all 0.1s ease;
  color: #ffffff;
}

.top-sellers__btn {
  background-color: #00000000;
  width: 177px;
  height: 91px;
  border: none;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.top-sellers__btn:hover {
  background-color: #00000015;
}

.top-sellers__btn.active {
  background-color: var(--primary);
  color: #fff;
}

.card__btn {
  width: 361px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--primary);
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  border: none;
  color: #ffffff;
  box-shadow: 0px 25px 50px 0px #ffffff1a;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card__btn:hover {
  background-color: var(--primary-hover);
}

.card__btn:active {
  transition: all 0.1s ease;
  background-color: var(--primary);
}

.top-sellers__slider-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 195px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  left: 1370px;
  border: none;
  background-color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.top-sellers__slider-btn:hover {
  background-color: #0000001a;
}

.top-sellers__slider-btn:active {
  transition: all 0.1s ease;
  background-color: #00000009;
}

.trending-earphones__btn {
  background-color: #00000000;
  width: 177px;
  height: 91px;
  border: none;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.trending-earphones__btn:hover {
  background-color: #00000015;
}

.trending-earphones__btn.active {
  background-color: var(--primary);
  color: #fff;
}

.trending-earphones__slider-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 195px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  left: 1370px;
  border: none;
  background-color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.trending-earphones__slider-btn:hover {
  background-color: #0000001a;
}

.trending-earphones__slider-btn:active {
  transition: all 0.1s ease;
  background-color: #00000009;
}

.arrow-icon {
  padding-left: 5px;
  height: 28px;
}

.new-launches__slider-btn-left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 272px;
  height: 48px;
  width: 48px;
  left: 60px;
  border-radius: 100%;
  border: none;
  background-color: #10b981;
  transition: all 0.3s ease;
  cursor: pointer;
}

.new-launches__slider-btn-left:hover {
  background-color: var(--primary-hover);
}

.new-launches__slider-btn-left:active {
  transition: all 0.1s ease;
  background-color: var(--primary);
}

.arrow-primary-icon-left {
  height: 14px;
}

.color-btn {
  height: 43px;
  width: 43px;
  border: none;
  border-radius: 100%;
  transition: all 0.3s ease;
  border: 2px #00000000 solid;
}

.color-btn:hover {
  border: 2px #ff0000 solid;
}

.color-btn:active {
  transition: all 0.1s ease;
  box-shadow: 0px 0px 5px #000000;
}

.new-launches__right__btn-cart {
  height: 70px;
  width: 303px;
  border-radius: 10px;
  background-color: var(--primary);
  border: none;
  box-shadow: 0px 25px 50px 0px #845ec226;
  transition: all 0.3s ease;
  cursor: pointer;
}

.new-launches__right__btn-cart__text {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  cursor: inherit;
}

.new-launches__right__btn-cart:hover {
  background-color: var(--primary-hover);
}

.new-launches__right__btn-cart:active {
  transition: all 0.1s ease;
  background-color: var(--primary);
}

.new-launches__right-section__btn-explore {
  border: none;
  background-color: #00000000;
  padding: 0px;
  margin-left: 77px;
  cursor: pointer;
}

.new-launches__right__btn-explore__text {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  font-family: Montserrat;
  cursor: pointer;
  transition: all 0.3s ease;
}

.new-launches__right__btn-explore__text:hover {
  color: #ffffff99;
}

.new-launches__right__btn-explore__text:active {
  transition: all 0.1s ease;
  color: #ffffff;
}

.arrow-primary-icon-right {
  height: 14px;
  transform: rotate(180deg);
}

.new-launches__slider-btn-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 272px;
  height: 48px;
  width: 48px;
  left: 1328px;
  border-radius: 100%;
  border: none;
  background-color: #10b981;
  transition: all 0.3s ease;
  cursor: pointer;
}

.new-launches__slider-btn-right:hover {
  background-color: var(--primary-hover);
}

.new-launches__slider-btn-right:active {
  transition: all 0.1s ease;
  background-color: var(--primary);
}

.footer__top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 175px;
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.23181818425655365px;
  text-align: left;
  border: none;
  color: #ffffff;
  background-color: #10b981;
  margin-left: 40px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer__top-btn:hover {
  background-color: var(--primary-hover);
}

.footer__top-btn:active {
  transition: all 0.1s ease;
  background-color: var(--primary);
}

.footer__mid__send-btn {
  height: 50px;
  width: 50px;
  margin: 0;
  border: none;
  background-color: #10b981;
  border-radius: 8px 8px 0px 0px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer__mid__send-btn:hover {
  background-color: var(--primary-hover);
}

.footer__mid__send-btn:active {
  transition: all 0.1;
  background-color: var(--primary);
}

.list__item a {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.20454545319080353px;
  text-align: left;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

.list__item a:hover {
  color: #00000070;
}
