
.title-beats{
    display: flex;
    position: absolute;
}
.letter{
    position: relative;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}
.title__beats__R {
    right: 50px;
    top: 180px;
    transform:rotate(-93deg);
}
.title__beats__e1 {
    right: 78px;
    top: 150px;
    transform: rotate(-84deg);
}
.title__beats__d {
    right: 99px;
    top: 122px;
    transform: rotate(-69deg);

}
.title__beats__B {
    right: 114px;
    top: 92px;
    transform: rotate(-62deg);

}
.title__beats__e2 {
    right: 125px;
    top: 69px;
    transform: rotate(-52deg);

}
.title__beats__a1 {
    right: 133px;
    top: 50px;
    transform: rotate(-43deg);	

}
.title__beats__t {
    right: 134px;
    top: 34px;
    transform: rotate(-36.45deg);

}
.title__beats__s {
    right: 135px;
    top: 22px;
    transform: rotate(-30deg);
}
.title__beats__M {
    right: 126px;
    top: 6px;
    transform: rotate(-16.5deg);
}
.title__beats__I {
    right: 127px;
    top: 0px;
    transform: rotate(-7.8deg);
}
.title__beats__9 {
    right: 126px;
    top: -2px;
    transform: rotate(-1.42deg);
}
.title__beats__c {
    right: 126px;
    top: -1px;
    transform: rotate(10deg);
}
.title__beats__2 {
    right: 125px;
    top: 4px;
    transform: rotate(15deg);
}
.title__beats__z {
    right: 120px;
    top: 13px;
    transform: rotate(26deg);
}
.title__beats__m {
    right: 121px;
    top: 31px;
    transform: rotate(38deg);
}
.title__beats__slash {
    right: 121px;
    top: 50px;
    transform: rotate(48deg);
}
.title__beats__a2 {
    right: 132px;
    top: 69px;
    transform: rotate(53deg);
}
