      html {
        box-sizing: border-box;
        font-size: 16px;
        background-color: aliceblue;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      body, h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
        user-select: none;
        -moz-user-select: none; 
        -ms-user-select: none;
        -webkit-user-select: none; 
        -o-user-select: none;
        cursor: default;
      }

      ol, ul {
        list-style: none;
      }
      
      img {
        max-width: 100%;
        height: auto;
        pointer-events: none;
      }

      
:root {
  --primary: #10B981;
  --primary-products: #10B981;
}
      

html {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  transition: transform 1000ms;
  width: 1440px;
  height: 100%;
}


.first-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 1440px;
  margin-bottom: 25px;
}

header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 1440px;
}

.glass-icon {
  height: 24px;
  width: 24px;
}

.cart-btn__icon {
  height: 24px;
  width: 24px;
}

.login-btn__icon {
  height: 24px;
  width: 24px;
}

.site-name-1 {
  font-family: Montserrat;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  color: #10B981;
  margin-left: 85px;
}

.site-name-2 {
  font-family: Montserrat;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  color: #000000;
}



.search-section {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  width: 322px;
  height: 63px;
  border-radius: 10px;
  box-shadow: 0px 15px 50px 0px #2E839E12;
  margin-left: 239px;
}

.search-section__btn {
  height: 38px;
  width: 38px;
  background: #10B981;
  border-style: none;
  border-radius: 5px;
}

.search-section__input {
  height: 63px;
  padding: 15px 15px 15px 15px;
  width: 266px;
  border-style: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #29293033;
  padding-left: 33px;
}



.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid var(--primary);
  background-color: rgb(255, 255, 255);
  margin-left: 38px;
}

.cart-btn__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 14px;
}



.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 247px;
  height: 60px;
  border-radius: 30px;
  background: var(--primary);
  box-shadow: 0px 10px 35px 0px #0000001A;
  border: none;
  margin-left: 23px;
}

.login-btn__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-left: 14px;
}



.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--primary);
  margin-top: 65px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
}

.navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__item__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}



.main {
  display: flex;
}

.main__left {
  display: flex;
  flex-direction: column;
  margin-left: 85px;
}

.main__left__title {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 126px;
  margin-bottom: 30px;
}

.main__left__info {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.main__left__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 263px;
  margin-top: 53px;
  border-radius: 10px;
  background-color: var(--primary);
  border: none;
  box-shadow: 0px 25px 50px 0px #845EC226;
}

.main__left__btn-text {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.main__left__wrapper-reviews {
  margin-top: 112px;
}

.main__left__reviews {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
}

.main__left__reviews__img {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
}

.profile-1, .profile-2, .profile-3, .profile-4 {
  position: relative;
}

.profile-1 {
  right: 0px;
}
.profile-2 {
  right: 23px;
}
.profile-3 {
  right: 46px;
}
.profile-4 {
  right: 69px;
}

.main__left__reviews__text {
  position: relative;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  right: 54px;
}



.main__right {
  display: flex;
  flex-direction: column; 
  margin-top: 75px;
  margin-left: 280px;
}

.main__right__star-section-1 {
  display: flex;
  justify-content: start;
}

.main__right__star-icon-1 {
  position: relative;
  height: 53px;
  width: 53px;
  right: 46px;
}

.main__right__beats-section {
  transform-origin: top;
  width: 324px;
}

.main__right__beats-section__text {
  position: relative;
  right: 100px;
  bottom: 22px;
  transform: rotate(-15deg);
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;  
  width: 443px;
}

.main__right__beats-section__ellipse {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color:#ECFEF4;
  width: 272px;
  height: 477px;
  border-radius: 136px;
  margin-left: 25px;
  margin-right: 25px;
  bottom: 10px;
}

.main__right__beats-section__ellipse__img {
  pointer-events: none; 
}

.main__right__star-section-2 {
  display: flex;
  justify-content: end;
}

.main__right__star-icon-2 {
  position: relative;
  height: 53px;
  width: 53px;
  left: 60px;
  bottom: 23px;
}



.second-page {
  display: flex;
  justify-content: center;
  background-color: #845EC2;
  margin-bottom: 53px;
  width: 1440px;
}

.feature-products {
  display: flex;
  height: 590px;
}

.feature-products__left-section {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

.feature-products__left-section__title-1 {
  position: absolute;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 600;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
  -webkit-text-fill-color:transparent;
  color: #845EC2;
  margin-top: 70px;
}

.feature-products__left-section__title-2 {
  position: absolute;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 600;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
  color: #845EC2;
  margin-top: 70px;
}

.feature-products__left-section__block {
  height: 330px;
  width: 189px;
  background-color: #ECFEF4;
  margin-top: 180px;
  border-radius: 180px;
  background-size: cover; 
  background-position: center; 
}

.first-block {
  background-image: url('./img/second_page/feature-product-1.png');
}

.second-block {
  margin-top: 110px;
  margin-left: 32px;
  z-index: 1;
  background-image: url('./img/second_page/feature-product-2.png');
}

.third-block {
  margin-left: 32px;
  background-image: url('./img/second_page/feature-product-3.png');
}

.feature-block-wrapper {
  display: flex;
}

.feature-products__left-section__price {
  font-family: Montserrat;
  font-size: 31px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.feature-products__left-section__price__currency {
  font-family: Montserrat;
  font-size: 31px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}



.feature-products__right-section {
  display: flex;
  flex-direction: column;
  margin-top: 143px;
  margin-left: 124px;
}

.feature-products__right-section__title {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.feature-products__right-section__text {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  color: #FFFFFF;
}

.feature-products__right-section__btn-cart {
  height: 70px;
  width: 263px;
  margin-top: 35px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary);
  box-shadow: 0px 25px 50px 0px #FFFFFF1A;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.feature-products__right-section__btn-view {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  border: none;
  background-color: #00000000;
  color: #FFFFFF;
  padding: 0px;
  margin-left: 49px;
}



.third-page {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 140px;
  width: 1440px;
}

.top-sellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-sellers__title {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 54px;
}

.top-sellers__btns {
  display: flex;
  margin-bottom: 92px;
}

.top-sellers__active-btn {
  background-color: var(--primary);
  width: 177px;
  height: 91px;
  border-radius: 100%;
  border: none;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.top-sellers__unactive-btn {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em; 
  border: none;
  background-color: #00000000;
  color: #000000;
  padding: 0px;
  margin-left: 54px;
}

.cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 1440px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 361px;
  height: 438px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.card-1-bg {
  background-color: #ECFEF4;
}
.card-2-bg {
  background-color: #C9F2FF;
}
.card-3-bg {
  background-color: #E5D5FF;
}
.card-4-bg {
  background-color: #E0EFFF;
}
.card-5-bg {
  background-color: #E8F9FF;
}
.card-6-bg {
  background-color: #D3FBFB;
}

.card__img {
  margin-top: 15px;
  height: 237px;
  width: 237px;
}

.card__save {
  display: flex;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: #FFFFFF; 
  top: 20px;
  right: 20px;
}

.save-bg-1 {
  background-color: var(--primary);
}
.save-bg-2 {
  background-color: #845EC2;
}
.save-bg-3 {
  background-color: #08BDBE;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 319px;
  height: 164px;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding-left: 50px;
}

.card__name {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0em;
  margin-bottom: 14px;
} 

.card__rating {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.card__reviews-text {
  margin-left: 13px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0em;
  color: #888888;
}

.card__price {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}

.card__btn {
  width: 361px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--primary);
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  border: none;
  color: #FFFFFF;
  box-shadow: 0px 25px 50px 0px #FFFFFF1A;
}

.top-sellers__slider-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 200px;
  height: 40px;
  left: 1380px;
  border: none;
  background-color: #FFFFFF;
}

.arrow-icon {
  height: 28px;
}



.fourth-page {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 140px;
  width: 1440px;
}

.trending-earphones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-earphones__title {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 54px;
}

.trending-earphones__btns {
  display: flex;
  margin-bottom: 92px;
}

.trending-earphones__active-btn {
  background-color: var(--primary);
  width: 177px;
  height: 91px;
  border-radius: 100%;
  border: none;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.trending-earphones__unactive-btn {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em; 
  border: none;
  background-color: #00000000;
  color: #000000;
  padding: 0px;
  margin-left: 54px;
}

.trending-earphones__slider-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 200px;
  height: 40px;
  left: 1380px;
  border: none;
  background-color: #FFFFFF;
}



.fifth-page {
  display: flex;    
  flex-direction: column;
  margin-bottom: 140px;
  width: 1440px;
}

.new-launches-title {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 120px;
  text-align: center;
}

.new-launches {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #845EC2;
  height: 590px;
  width: 1440px;
}

.arrow-primary-icon-left {
  height: 14px;
}

.new-launches__slider-btn-left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 272px;
  height: 48px;
  width: 48px;
  left: 60px;
  border-radius: 100%;
  border: none;
  background-color: #10B981;
}

.new-launches__left {
  display: flex;
  margin-top: 60px;
}

.new-launches__right {
  display: flex;
  flex-direction: column;
}

.new-launches__left__ellipse {
  width: 237.79px;
  height: 417px; 
  border-radius: 140px; 
  background-size: cover; 
  background-position: center;
}

.ellipse-1 {
  background-image: url('./img/fifth_page/ellipse-1.png');
}
.ellipse-2 {  
  margin-left: 45px;
  margin-top: 50px;
  background-position: -178px;
  background-image: url('./img/fifth_page/ellipse-2.png');
}



.new-launches__right {
  margin-left: 84px;
  margin-top: 73px;
}

.new-launches__right__title {
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 600;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.new-launches__right__info {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF; 
  margin-bottom: 24px;
}

.new-launches__right__price {
  font-family: Montserrat;
  font-size: 31px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;  
  color: #FFFFFF; 
  margin-bottom: 50px;
}

.new-launches__right__price__currency {
  font-family: Montserrat;
  font-size: 31px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 50px;
}

.new-launches__right__color-btns {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.color-btn {
  height: 43px;
  width: 43px;
  border: none;
  border-radius: 100%;
}

.black-bg {
background-color: #111111;
}
.yellow-bg {
  background-color: #FFF500;
}
.blue-bg {
  background-color: #4484FF;
}
.choosen {
  border: 1px #FF0000 solid;
}

.new-launches__right__btn-cart {
  height: 70px;
  width: 303px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary);
  box-shadow: 0px 25px 50px 0px #FFFFFF1A;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.new-launches__right-section__btn-explore {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  border: none;
  background-color: #00000000;
  color: #FFFFFF;
  padding: 0px;
  margin-left: 77px;
}

.arrow-primary-icon-right {
  height: 14px;
  transform: rotate(180deg);
}

.new-launches__slider-btn-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 272px;
  height: 48px;
  width: 48px;
  left: 1328px;
  border-radius: 100%;
  border: none;
  background-color: #10B981;
}



footer {
  display: flex;
  flex-direction: column;
  width: 1068px;
}

.footer__top {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 40px;
}

.footer__top-text {
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #111111;
}

.footer__top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 175px;
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.23181818425655365px;
  text-align: left;
  border: none;
  color: #FFFFFF;
  background-color: #10B981;
  margin-left: 40px;
}

.divider {
  border: solid 1px #111111;
  border-radius: 100%;
  opacity: 10%;
  width: 100%;
  margin: 0px;
  margin-bottom: 40px;
}



.footer__mid {
  display: flex;
  justify-content: start;
  margin-bottom: 70px;
}

.footer__mid-left {
  display: flex;
  flex-direction: column;
}

.footer__mid-text {
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;  
  margin-bottom: 30px;
}

.footer__mid-left__input {
  display: flex;
}

.footer__mid__email-input {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.20454545319080353px;
  text-align: left;
  height: 50px;
  width: 240px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-width: 0px 0px 1px 0px;
  outline: none;
  padding: 20px 0px 20px 0px;
}

.footer__mid__send-btn {
  height: 50px;
  width: 50px;
  margin: 0;
  border: none;
  background-color: #10B981;
  border-radius: 8px 8px 0px 0px;
}

.footer__mid-right {
  display: flex;
  margin-left: 100px;
  gap: 170px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__item a{
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.20454545319080353px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.list__title {
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.23181818425655365px;
  text-align: left;
  color: #10B981;
}



.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.footer__bottom-left {
  display: flex;  
  gap: 40px;
}

.footer__bottom-left__text {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.20454545319080353px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.footer__bottom-right {
  display: flex;
  justify-content: space-between;
  width: 133px;
}